@layout('layouts.application')

@section('title')
  <title>Dashboard | TrexCode Tutorial</title>
@endsection

@section('content')
    <h3 align="center">Welcome to TrexCode Adonis Controller Tutorial.</h3>
@endsection